html {
  width: auto;
  height: auto;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
  max-width: 70rem;
  background-color: #fff;
}

.img-fluid {
  max-width: 90%;
}

#page-title {
  text-align: center;
}

#page-title h1 a {
  color: black;
  font-size: 2.7rem;
}

.post .fa {
  transition: 0.8s transform ease-in-out;
}

.post .collapsed .fa {
  transform: rotate(-540deg);
}

.post .btn-link {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

.description .btn {
  background-color: #743d9a;
  color: #fbfbff;
}
.description .btn:hover {
  text-decoration: none;
}

#author-name h6 a {
  color: black;
  font-weight: normal;
  font-size: small;
}

#page-title a:hover,
.post a:hover {
  text-decoration: underline;
}

.date-time-title {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.2rem;
}

.blog-post {
  max-width: 45em;
  margin: auto;
  text-align: center;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: justify;
}

.posts_listing li {
  list-style-type: none;
  margin-left: 10em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  white-space: pre;
  overflow-x: auto;
}

pre {
  overflow-x: auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef
}

.mapbox {
  margin-top: 50px;
  margin-bottom: 30px;
}

.about-me {
  text-align: justify;
}

.card {
  max-width: 35rem;
}
.card .description {
  padding: 10px 0px 25px 20px;
}

.avatar {
  padding-top: 45px;
}

.social {
  padding: 2rem 1rem;
  opacity: 0.7;
  margin: auto;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
}

.social:hover {
  opacity: 1;
  text-decoration: none;
  color: inherit;
}

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.code-folding-btn { 
  margin-bottom: 4px; 
  background-color: #743d9a;
  color: #fbfbff;
}

.col-md-12 {
  margin: 0 0 0 auto;
}

body a {
  color: #743d9a;
}

table {
  border-spacing: 0;
  width: 90%;
  margin-bottom: 3rem;
}

td,
th {
  border-bottom: 0.1rem dashed #e1e1e1;
  padding: 0.8rem 1rem;
  text-align: left;
}

td:first-child,

th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

thead {
  font-size: 1.5rem;
}

pre.prettyprint { 
  background-color: #013241 !important;
  margin: 10px 0px;
  padding: 5px 0px 10px 3px;
}

ol.linenums li:hover {
  background-color: #004257;
}

ol.linenums li {
  list-style-type: decimal !important;
  font-size: 12px;
}

pre code {
  margin-left: 5px;
  font-family: 'Menlo', monospace;
  font-size: 13px;
}

pre .str {
  color: #fcf94e;
}

pre .kwd {
  color: rgb(241, 139, 255);
}

pre .lit {
  color: #ff8888;
}