{{ define "content" }}
<div class="container" style="max-width: 20rem; text-align: center;">
    <div class="row">
        <a href="mailto:sphan@macalester.edu" class="email social">
                <i class="fas fa-envelope-square fa-4x"></i>
        </a>

        <a href="https://github.com/sp314" class="github social">
            <i class="fab fa-github-square fa-4x"></i>
        </a>

        <a href="https://twitter.com/son_kphan" class="twitter social">
            <i class="fab fa-twitter-square fa-4x"></i>
        </a>

        <a href="https://www.linkedin.com/in/sonkphan/" class="linkedin social">
            <i class="fab fa-linkedin fa-4x"></i>
        </a>
    </div>
</div>
{{ end }}