{{ define "content" }}
<div class="mapbox row">
  <div class="col" id="vietnam"></div>
  <div class="col" id="hawaii"></div>
  <div class="col" id="minnesota"></div>
</div>

<div style="text-align: center;">
  <a href="https://github.com/sp314/A-Random-Walk-Home" target="_blank">a random walk home</a>
</div>

<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//d3js.org/topojson.v1.min.js"></script>
<script type="text/javascript" src="js/random_walk_map.js"></script>
<script type="text/javascript" src="js/vietnam.js"></script>
<script type="text/javascript" src="js/hawaii.js"></script>
<script type="text/javascript" src="js/minnesota.js"></script>
{{ end }}